[Unit]
Description=Reverse Server Service
After=network.target

[Service]
User=rs-server
Restart=always
WorkingDirectory=/srv/rsck/
ExecStart=/srv/sctrl/sctrl -s -listen -token abc=1 -webaddr :9090 -cert build/sctrl/certs/server.pem -key build/sctrl/certs/server.key

[Install]
WantedBy=multi-user.target