[Unit]
Description=Sctrl Server Service
After=network.target

[Service]
User=sctrl-srv
Restart=always
WorkingDirectory=/srv/sctrl/
ExecStart=/srv/sctrl/sctrl -s -listen :9121 -token abc=1 -webaddr :9090 -cert certs/server.pem -key certs/server.key

[Install]
WantedBy=multi-user.target